In [561]:
import pandas, numpy

N_ROWS = 3


# II. Normalizing Addresses:
## Abstract 
Some address are very similar and ought to be grouped together as duplicates. 

By removing punctuation and countries and re-ordering the words in the address string 2112 address (2% of the address database) where found as direct duplicates. 

Furthermore, using fuzzy matching 40,257 addresses (45% of the address database) were found over 75% similar to 11,119 unique addresses from a total of 93,454.

Direct duplicates are cleansed from the 'edges.csv' while the similarities, not being exact duplicates and thus prone to errors, are added to a new 'similarity.edges.csv'.

## 0. Import:

In [562]:
address = pandas.read_csv('data/raw/nodes.address.csv', usecols=['node_id', 'address', 'countries'], index_col='node_id')
address['parent_id'] = 0

address.head( N_ROWS )

,address,countries,parent_id
node_id,,,
14000001,-\t27 ROSEWOOD DRIVE #16-19 SINGAPORE 737920,Singapore,0
14000002,"""Almaly Village"" v.5, Almaty Kazakhstan",Kazakhstan,0
14000003,"""Cantonia"" South Road St Georges Hill Weybridg...",United Kingdom,0

So far, very few duplicates are found:

In [563]:
def count_duplicates(df, col):
    duplicates = df[ df.duplicated([col]) ]

    total = df.shape[0]
    duplicate_count = duplicates.shape[0]
    
    duplicate_percent = int( (duplicate_count * 100) / total )

    print( f'Total entries: {total} \nDuplicates: {duplicate_count} or {duplicate_percent}%' )

count_duplicates(address, 'address')

Total entries: 93454
Duplicates: 1 or 0%

## 1. Sanitization:
### a. Removing punctuation:
Loading relevant columns, all strings to lowercase, removing punctuation.
Furthermore an empty parent_id column is created.

In [564]:
address = address.applymap( lambda _str: _str.lower() if isinstance( _str,str ) else _str )

def remove_punctuation(_str):
    for punc in [ ';', '#', ',', '|', '\t', '"', '/', '.', '(', ')', '-', '^', '&', '_' ]:
        _str = _str.replace( punc, ' ' )
    return _str
    
address.address = address.address.map( lambda _str: remove_punctuation(_str) if isinstance( _str,str) else _str )

count_duplicates(address, 'address')

Total entries: 93454
Duplicates: 66 or 0%

### b. Removing countries:

Removing the country from the address strings:

The more edge cases we remove the better results we get from computing similarities.

TODO: Extract and remove cities for better results; { '60 piers road; borrowdale; harare': ('12 hunt road borrowdale, harare', 79), ('12 hunt road; borrrowdale; harare', 77) }

In [565]:
country_list = list( address.countries.dropna().unique() )

### add edge cases ###
st_vincent = ['st. vincent & grenadines', 'st vincent and the grenadines', 'st vincent & the grenadines', 
            'saint-vincent and grenadines', 'saint-vincent', 'st. vincent', 'saint vincent', '& the grenadines']
country_list = st_vincent + country_list
country_list += ['vietnam', 'sengal', 'europe', 'republic of', 'zimbawe', 'zimabwe', 'city']

def remove_country(text, *country_list):
    if type(text) == float:
        return text 
    for country in country_list:
        if country in text:
            text = text.replace(country, '')
    return text.strip()

address.address = address['address'].apply(remove_country, args=country_list)

count_duplicates(address, 'address')

Total entries: 93454
Duplicates: 643 or 0%

### c. Reordering tokens:

In [566]:
def reorder_tokens(_str):
    as_list = _str.split()
    if len(as_list) > 0:
        return ' '.join(sorted(as_list))
    else: 
        return numpy.NaN
    
address.address = address.address.map( lambda _str: reorder_tokens(_str) if isinstance( _str,str) else _str )

count_duplicates(address, 'address')

Total entries: 93454
Duplicates: 2297 or 2%

## 2. Deduplication:
Selecting duplicate address/countries pairs with an address string over one word long.

In [567]:
duplicates = address.loc[address.duplicated(['address', 'countries'], keep=False)]

duplicates = duplicates.loc[duplicates.address.str.split().str.len() > 1]

duplicates.sort_values(by='address').head(N_ROWS)

,address,countries,parent_id
node_id,,,
14048910,0 004 1669 235 aires alazan buenos campanillas...,argentina,0
14087441,0 004 1669 235 aires alazan buenos campanillas...,argentina,0
14003887,00 069542 14 143 building cecil gb street,singapore,0

Maping the parent's ids to their duplicates.

In [568]:
def map_parent_id(df):
    # parent_id is the first row's node_id
    parent_id = df.index[0]
    # children are the rest of the rows
    df.iloc[ 1:, df.columns.get_indexer(['parent_id']) ] = parent_id
    return df

def gapply_parallel(df_group, func):
    t1 = time.time()

    df_list = [ group for name, group in df_group ]

    with Pool( cpu_count() ) as pool:
        results = pool.map(func, df_list)

    result_df = pandas.concat( results )

    print( f'* Total in:', time.time()-t1 )
    return result_df

duplicate_group = duplicates.groupby(['address', 'countries'])

matches = gapply_parallel(duplicate_group, map_parent_id)

address.update(matches)
address.parent_id = address.parent_id.astype('Int64')

* Total in: 1.814671516418457

In [569]:
duplicates_mapped = address[ address.parent_id > 0]
print('Duplicates mapped:', duplicates_mapped.shape[0])

duplicates_mapped.head(N_ROWS)

Duplicates mapped: 2112

,address,countries,parent_id
node_id,,,
14000069,1 mapp street,belize,14000068
14000108,193 25 box british complex ground mason o p st...,anguilla,14000094
14000264,02nd cyber ebene ebene floor mews,mauritius,14000263

We save these results directly on the edges previously cleaned up.

In [570]:
edges = pandas.read_csv('data/processing/edges.csv')
duplicate_nodes = duplicates_mapped.index

def duplicate_to_parent(_id):
    if _id in duplicate_nodes:
        return duplicates_mapped.loc[_id, 'parent_id']
    else :
        return _id
    
edges['start_id'] = edges['start_id'].apply(duplicate_to_parent)
edges['end_id'] = edges['end_id'].apply(duplicate_to_parent)

edges.to_csv('data/processing/edges.csv', index=False)

## 3. Fuzzy matching:

#### !! Computationly heavy !!
It is recomended to run this script on anything else than a Thinkpad X270 (Elapsed time: 50min), Amazon AWS being one of the better options. This notebook is thus deliberately limited to groups containing less than 50 strings.

In [571]:
address = address.drop(duplicates_mapped.index).dropna()

### a. The matching algorythm:
### TODO: include a detailed explanation.

In [572]:
from multiprocessing import Pool, cpu_count
from fuzzywuzzy import fuzz, process
import time

THRESHOLD = 75
SELECTOR = 'address'
GROUP = address.groupby('countries')
LIMIT = 0

def calculate_string_similarity(df):
    t1 = time.time()

    choices = set( df[ SELECTOR ].unique() )
    seen = set()
    results = dict()

    choice_count = len(choices)
    for i in range( choice_count-1 ):
        choice = list(choices)[i]
        if len(choice) < 2:
            i += 1
            continue

        seen.add(choice)
        new_choices = choices.difference(seen)
        if len(new_choices) <= 1:
            break

        res = process.extract(choice, new_choices, scorer=fuzz.token_sort_ratio, limit=10000)
        res = [ r[0] for r in res if r[1] > THRESHOLD ]

        if len(res):
            seen.update(res)
            results[choice] = res
        i += 1 

    tt = time.time() - t1
    print( f'Compared {choice_count} in {tt} sec' )
    return results

def gapply_parallel(df_group, func):
    t1 = time.time()

    if LIMIT:
        df_list = [ group for name, group in df_group if group.shape[0] < LIMIT ]
    else:
        df_list = [ group for name, group in df_group ]

    results = {}
    with Pool( cpu_count() ) as pool:
        for res in pool.map(func, df_list):
            results.update( res )

    results = pandas.DataFrame.from_dict(results,  orient='index')
    results.reset_index(inplace=True)
    #results = results.rename( {'index':'parent'} , axis=1)

    print( f'Total in:', time.time()-t1 )
    return results


similar_str = gapply_parallel(GROUP, calculate_string_similarity)
similar_str = similar_str.rename( {'index':'parent'} , axis=1)

Compared 23 in 0.017104387283325195 sec
Compared 17 in 0.0029027462005615234 sec
Compared 10 in 0.0012526512145996094 sec
Compared 34 in 0.03534340858459473 sec
Compared 38 in 0.06016707420349121 sec
Compared 100 in 0.11222243309020996 sec
Compared 17 in 0.01827096939086914 sec
Compared 790 in 3.3133206367492676 sec
Compared 57 in 0.03792572021484375 sec
Compared 19 in 0.005887269973754883 sec
Compared 45 in 0.02748870849609375 sec
Compared 55 in 0.03510165214538574 sec
Compared 222 in 0.5638706684112549 sec
Compared 197 in 0.32608747482299805 sec
Compared 7 in 0.0012884140014648438 sec
Compared 147 in 0.19158315658569336 sec
Compared 34 in 0.020790815353393555 sec
Compared 3 in 0.00063323974609375 sec
Compared 81 in 0.11040520668029785 sec
Compared 657 in 4.988184690475464 sec
Compared 11 in 0.0017247200012207031 sec
Compared 252 in 1.121208906173706 sec
Compared 21 in 0.019019365310668945 sec
Compared 19 in 0.008964300155639648 sec
Compared 71 in 0.07364058494567871 sec
Compared 742 in 7.42143702507019 sec
Compared 23 in 0.006299495697021484 sec
Compared 18 in 0.007592201232910156 sec
Compared 744 in 7.095905542373657 sec
Compared 78 in 0.10727715492248535 sec
Compared 74 in 0.11182188987731934 sec
Compared 33 in 0.030742883682250977 sec
Compared 3270 in 19.81070828437805 sec
Compared 29 in 0.006824016571044922 sec
Compared 89 in 0.12037420272827148 sec
Compared 1 in 0.0004909038543701172 sec
Compared 17 in 0.006942033767700195 sec
Compared 38 in 0.056192636489868164 sec
Compared 604 in 6.130617141723633 sec
Compared 197 in 0.38762402534484863 sec
Compared 64 in 0.08514785766601562 sec
Compared 1 in 0.0004398822784423828 sec
Compared 72 in 0.09489607810974121 sec
Compared 2 in 0.0004885196685791016 sec
Compared 3 in 0.0006923675537109375 sec
Compared 28 in 0.03498959541320801 sec
Compared 1419 in 18.043939352035522 sec
Compared 195 in 0.46229076385498047 sec
Compared 22 in 0.008604049682617188 sec
Compared 49 in 0.030605554580688477 sec
Compared 2 in 0.0004405975341796875 sec
Compared 86 in 0.11792993545532227 sec
Compared 146 in 0.41081690788269043 sec
Compared 679 in 5.746644020080566 sec
Compared 12 in 0.003424406051635742 sec
Compared 253 in 0.7982277870178223 sec
Compared 25 in 0.010275602340698242 sec
Compared 376 in 1.1358222961425781 sec
Compared 38 in 0.02493572235107422 sec
Compared 47 in 0.03228425979614258 sec
Compared 383 in 0.8149194717407227 sec
Compared 138 in 0.2511873245239258 sec
Compared 254 in 0.7404131889343262 sec
Compared 1 in 0.00044155120849609375 sec
Compared 4 in 0.0007059574127197266 sec
Compared 703 in 6.098561525344849 sec
Compared 23 in 0.006605386734008789 sec
Compared 4 in 0.00060272216796875 sec
Compared 62 in 0.04144859313964844 sec
Compared 277 in 0.8641226291656494 sec
Compared 1384 in 33.72374606132507 sec
Compared 1529 in 9.99583125114441 sec
Compared 5 in 0.0017507076263427734 sec
Compared 1 in 0.0004248619079589844 sec
Compared 2 in 0.01746964454650879 sec
Compared 152 in 0.3548438549041748 sec
Compared 13 in 0.0028464794158935547 sec
Compared 635 in 3.167285442352295 sec
Compared 197 in 0.6121561527252197 sec
Compared 2 in 0.0005385875701904297 sec
Compared 9 in 0.0015482902526855469 sec
Compared 25 in 0.005629062652587891 sec
Compared 1209 in 16.94946050643921 sec
Compared 12 in 0.002094745635986328 sec
Compared 15 in 0.0034894943237304688 sec
Compared 268 in 0.7524104118347168 sec
Compared 77 in 0.01793193817138672 sec
Compared 4 in 0.0007369518280029297 sec
Compared 494 in 1.7114815711975098 sec
Compared 178 in 0.5910637378692627 sec
Compared 50 in 0.029354572296142578 sec
Compared 2602 in 26.061834573745728 sec
Compared 260 in 0.8467683792114258 sec
Compared 525 in 2.4195139408111572 sec
Compared 38 in 0.026176929473876953 sec
Compared 15 in 0.0032510757446289062 sec
Compared 46 in 0.05149030685424805 sec
Compared 24 in 0.009908437728881836 sec
Compared 15 in 0.005532741546630859 sec
Compared 20 in 0.005721569061279297 sec
Compared 13 in 0.018109798431396484 sec
Compared 155 in 0.41857266426086426 sec
Compared 4 in 0.0007503032684326172 sec
Compared 136 in 0.2375795841217041 sec
Compared 98 in 0.11760234832763672 sec
Compared 1 in 0.0004429817199707031 sec
Compared 43 in 0.030424118041992188 sec
Compared 85 in 0.11017727851867676 sec
Compared 219 in 0.6301031112670898 sec
Compared 253 in 0.6256973743438721 sec
Compared 9 in 0.0020132064819335938 sec
Compared 1 in 0.0004680156707763672 sec
Compared 122 in 0.23313283920288086 sec
Compared 130 in 0.04766035079956055 sec
Compared 4 in 0.0007982254028320312 sec
Compared 68 in 0.06905794143676758 sec
Compared 33 in 0.014029741287231445 sec
Compared 133 in 0.1753699779510498 sec
Compared 10 in 0.0013053417205810547 sec
Compared 445 in 2.529794454574585 sec
Compared 36 in 0.008737564086914062 sec
Compared 34 in 0.015201330184936523 sec
Compared 555 in 1.3887436389923096 sec
Compared 29 in 0.011544466018676758 sec
Compared 121 in 0.187516450881958 sec
Compared 152 in 0.30492591857910156 sec
Compared 7 in 0.0013303756713867188 sec
Compared 59 in 0.05887484550476074 sec
Compared 86 in 0.14631223678588867 sec
Compared 2211 in 43.369396686553955 sec
Compared 2 in 0.0004565715789794922 sec
Compared 27 in 0.013880729675292969 sec
Compared 1033 in 13.412853479385376 sec
Compared 282 in 1.14798903465271 sec
Compared 1 in 0.0004894733428955078 sec
Compared 379 in 1.6435284614562988 sec
Compared 12 in 0.0029723644256591797 sec
Compared 26 in 0.00964212417602539 sec
Compared 634 in 1.0455570220947266 sec
Compared 3 in 0.0005550384521484375 sec
Compared 1793 in 30.010026931762695 sec
Compared 3 in 0.0005714893341064453 sec
Compared 21 in 0.005985260009765625 sec
Compared 36 in 0.015635251998901367 sec
Compared 1 in 0.0004909038543701172 sec
Compared 24 in 0.012083292007446289 sec
Compared 1350 in 21.23589324951172 sec
Compared 155 in 0.4666726589202881 sec
Compared 3321 in 113.27665781974792 sec
Compared 3 in 0.0006699562072753906 sec
Compared 1 in 0.0004563331604003906 sec
Compared 282 in 0.4247395992279053 sec
Compared 13 in 0.002238035202026367 sec
Compared 1 in 0.00044345855712890625 sec
Compared 38 in 0.01140284538269043 sec
Compared 102 in 0.055812835693359375 sec
Compared 3 in 0.0005936622619628906 sec
Compared 12 in 0.002804994583129883 sec
Compared 26 in 0.010062456130981445 sec
Compared 524 in 4.807335138320923 sec
Compared 21 in 0.022892475128173828 sec
Compared 7 in 0.001214742660522461 sec
Compared 6 in 0.0009267330169677734 sec
Compared 19 in 0.006882429122924805 sec
Compared 131 in 0.2415623664855957 sec
Compared 530 in 4.4432172775268555 sec
Compared 5 in 0.0013778209686279297 sec
Compared 31 in 0.012052774429321289 sec
Compared 12 in 0.004311800003051758 sec
Compared 8 in 0.0014448165893554688 sec
Compared 396 in 2.1154119968414307 sec
Compared 1710 in 27.29670476913452 sec
Compared 2671 in 65.54069089889526 sec
Compared 32 in 0.0174562931060791 sec
Compared 2236 in 58.265048027038574 sec
Compared 6 in 0.0010294914245605469 sec
Compared 31 in 0.013901233673095703 sec
Compared 650 in 5.71748161315918 sec
Compared 67 in 0.04971623420715332 sec
Compared 27 in 0.004609823226928711 sec
Compared 378 in 2.696671962738037 sec
Compared 87 in 0.1103668212890625 sec
Compared 6 in 0.0009751319885253906 sec
Compared 33 in 0.013181447982788086 sec
Compared 217 in 0.5623526573181152 sec
Compared 3941 in 153.0834002494812 sec
Compared 3082 in 90.95669531822205 sec
Compared 843 in 5.346758842468262 sec
Compared 9036 in 612.9269535541534 sec
Compared 130 in 0.1039736270904541 sec
Compared 183 in 0.16454553604125977 sec
Compared 310 in 0.7788918018341064 sec
Compared 846 in 5.1673712730407715 sec
Compared 114 in 0.1152181625366211 sec
Compared 21 in 0.00411677360534668 sec
Compared 190 in 0.2512328624725342 sec
Compared 1069 in 3.8123791217803955 sec
Compared 699 in 2.7713265419006348 sec
Compared 631 in 2.427677869796753 sec
Compared 21 in 0.0045185089111328125 sec
Compared 332 in 0.8444955348968506 sec
Compared 20219 in 3061.4400112628937 sec
Total in: 3090.6946561336517

In [573]:
similar_str.head(N_ROWS)

,parent,0,1,2,3,4,5,6,7,8,...,642,643,644,645,646,647,648,649,650,651
0,31291 al al al box hamra jazeera khaimah o p ras,al al al hamra jazeera khaimah ras,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,al al anónima cien cien de del edificio este j...,al al alimenticia anónima cien cien del edific...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,33b la of ordino pleta principality,33 b la of ordino pleta principality,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### b. String matches to addresss edges:
Map all address strings to their node_id, using all cores available.

In [574]:
def string_to_ID(df):
    def func(x):
        if isinstance(x, str):
            return address.index[ address.address == x ][0]
        return 0
        
    return df.applymap(func)

def apply_parallel(df, func):
    t1 = time.time()

    _cpu_count = cpu_count()
    df_split = numpy.array_split( df, _cpu_count )

    with Pool( _cpu_count ) as pool:
        res = pool.map( func, df_split )
        try:
            df = pandas.concat( res )
        except ValueError:
            # result could be a list of Nones
            pass 
            
    print(f'Total time:', time.time()-t1 )
    return df

similar_nodes = apply_parallel(similar_str, string_to_ID)
similar_nodes.head(N_ROWS)

Total time: 242.22062349319458

,parent,0,1,2,3,4,5,6,7,8,...,642,643,644,645,646,647,648,649,650,651
0,14062504,14026529,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14103880,14103793,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14047924,14047925,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

As parent/child pair:

In [575]:
similar_nodes = ( similar_nodes.astype('Int64').where(similar_nodes.ne(0))
                    .set_index('parent')
                    .stack()
                    .reset_index(level=0, name='child_id') )
                 
similar_nodes.rename( { 'parent' : 'parent_id'}, axis=1, inplace=True)
similar_nodes.reset_index(drop=True, inplace=True)

similar_nodes.head(N_ROWS)

   parent_id  child_id
0   14062504  14026529
1   14103880  14103793
2   14047924  14047925

### c. Resolving problems to better quantify the results:
Quantifying the results. Problems of type "master->parent->child" trees are counted.

In [576]:
def quantify_results():
    original_count = address.shape[0]

    parents = set( similar_nodes.parent_id )
    unique_parents = len( parents )

    children = set( similar_nodes.child_id )
    unique_children = len( children )

    problems = list( parents.intersection( children ))
    problem_count = len( problems )
    problem_percent = int( (problem_count * 100) / unique_parents )

    remaining = original_count - unique_children + problem_count
    reduction = int( 100 - (( remaining * 100 ) / original_count ))

    print( f"""* Reduced {unique_children} to {unique_parents} from a total of {original_count}.
            \n* Problems found: {problem_count} or {problem_percent}% of the parents.
            \n* Remaining: {remaining}. Reduction: -{reduction}%""" )
    return problems

problems = quantify_results()

* Reduced 40257 to 15347 from a total of 90408.

* Problems found: 4229 or 27% of the parents.

* Remaining: 54380. Reduction: -39%

The next bit of code enables you to trace these problems.

In [577]:
def trace_problem(prob):
    as_parent = similar_nodes[ similar_nodes.parent_id == prob ]
    as_child = similar_nodes[ similar_nodes.child_id == prob ]

    print(f'As parent: \n{as_parent}\nAs child:\n{as_child}')

    masters = list( as_child.parent_id )
    for i in range( len(masters) ): 
        master = similar_nodes[ similar_nodes.parent_id == masters[i] ]
        i += 1
        print(f'Master {i}:\n{master}')

    print('\nTrace address:')
    print( list( address[ address.index == prob ]['address'] ))
    print('\nMaster address:')
    print( list( address[ address.index == as_child.parent_id.iloc[0]]['address'] ))

trace_problem(problems[6])

As parent:
     parent_id  child_id
199   14049280  14035572
As child:
     parent_id  child_id
120   14042728  14049280
Master 1:
     parent_id  child_id
120   14042728  14049280

Trace address:
['1210 aires buenos capital federal maipú']

Master address:
['1 10 36 aires buenos capital federal florida oficina piso']

The children's ownership could be transfered to the masters as follow; 

Unfortunately, this operation has to be single threaded as to not modify both the ownership of the masters and parents at the same time.

In [578]:
t1 = time.time()

for prob in problems:

    as_parent = similar_nodes[ similar_nodes.parent_id == prob ]
    as_child = similar_nodes[ similar_nodes.child_id == prob ]
    master_id = list( as_child['parent_id' ])[0]
    
    similar_nodes.loc[similar_nodes.parent_id == prob, 'parent_id'] = master_id   
tt = time.time() - t1

print( f'Total in: {tt}')

problems = quantify_results()

Total in: 21.470188856124878
* Reduced 40257 to 11119 from a total of 90408.

* Problems found: 1 or 0% of the parents.

* Remaining: 50152. Reduction: -44%

By grouping "master->parent->child" trees, we achive a 45% reduction of the address dataset.

## 4. Saving the results;
The results are saved to "data/processing/similarity.edges.csv".

In [582]:
similar_nodes['type'] = 'similarity'
similar_nodes['text'] = 'similar address'

In [583]:
similar_nodes.to_csv('data/processing/similarity.edges.csv', index=False)